body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-left: 3vw;
}

section {
  margin:  2vw 2vw 2vw 0;
  display: flex;
}

.underline {
  text-decoration: solid underline black 1px;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
  margin-bottom: 0;
}

input {
  background: black;
  color: white;
  font-size: 34px;
  width: 310px;
}

button {
  height: 45px;
  width: 120px;
  font-size: 30px;
  color: white;

}

h3 {
  margin-bottom: 0;
}

h5 {
  margin: 0 0 2vw 0;
}

.profileImage {
  margin-right: 3vw;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: center;
}

.card img {
  width: 10vw;
  margin: 0 1vw 0 0;

}


